<div class="playlist">
  <h3>
    <%=link_to "#" do %>
      Album Hot <i class="fa fa-angle-right"></i>
    <% end %>
  </h3>
  <ul>
    <div class="row">
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist1.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist2.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist3.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist4.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
    </div>
  </ul>
  <ul>
    <div class="row">
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist1.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist2.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist3.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
      <div class="col-md-3">
        <li class="playlist-li">
          <%= link_to "#" do %>
            <%= image_tag "playlist4.jpg", class: "thumbnail-playlist" %>
            <span class="fa fa-play-circle-o custom-icon-play"></span>
          <% end %>
          <%= link_to "#" do %>
            <p>Nhạc Phim Việt Nam Hay Nhất</p>
          <% end %>
        </li>
      </div>
    </div>
  </ul>
</div>
