<div class="row">
  <div class="col-md-2">
    <%= image_tag @song.picture, class: "size-img-thumbnail" %>
  </div>
  <div class="col-md-10">
    <div class="info-song">
      <p>
        <span class="song-name">
          <%= @song.name %> -
        </span>
        <span class="singer-name">
          <% @song.singers.each do |singer| %>
            <%= link_to "#" do %>
              <%= singer.name %>
            <% end %>
          <% end %>
        </span>
      </p>
      <p>
        <span class="author-name">
          Nhạc sĩ: <%= @song.author.name if @song.author_id.present? %>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="category-name">
          <% @song.categories.each do |category| %>
            Thể loại: <%= category.name %>
          <% end %>
        </span>
      </p>
      <p>Lượt nghe: <%= @song.count_view %></p>
      <div id='like-dislike'>
          <% if !user_signed_in? %>
            <%= render '/likes/like_song' %>
            <%= render '/likes/count_like' %>
          <% else %>
            <% if current_user.likes.present? %>
              <%= render '/likes/dislike_song' %>
              <%= render '/likes/count_like' %>
            <% else %>
              <%= render '/likes/like_song' %>
              <%= render '/likes/count_like' %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<br><br>
<p>
  <audio src="<%= @song.url_song %>" type="audio/mpeg" controls loop>
  </audio>
</p>
<%= render 'song/content_song' %>
