<div class="container-list-favorite">
  <% @favorites.each do |favorite| %>
    <% if favorite.user == current_user %>
      <div class="list-album-song-favorite">
          <% if favorite.songs.present? %>
            <% favorite.favorite_songs.each do |fsong| %>
              <i class="fa fa-music icon-song"></i>&nbsp;
              <%= favorite.name %>
              <%= button_tag id: "delete-song-favorite-album", favorite_songs: fsong.id, data_id: @song.id do %>
                <i  class="fa fa-check"></i>
              <% end %>
            <% end %>
          <% else %>
            <i class="fa fa-music icon-song"></i>&nbsp;
            <%= favorite.name %>
            <%= button_tag id: "add-song-favorite-album", data_id: @song.id, favorite_id: favorite.id do %>
              <i class="fa fa-plus"></i>
            <% end %>
          <% end %>
        <i class="fa fa-trash-o" id="delete-favorite-album" favorite_id="<%= favorite.id %>"></i>
      </div><br>
    <% end %>
  <% end %>
</div>
