<div class="container-list-favorite">
  <% @favorites.each do |favorite| %>
    <% if favorite.user == current_user %>
      <div class="list-album-song-favorite">
        <% if favorite.favorited? @song %>
            <i class="icon-playlist"></i>&nbsp;
            <span class="count-favorite-song">
              <div><%= favorite.name %></div>
              <p>Number Song: <%= favorite.favorite_songs.count %></p>
            </span>
              <%= button_tag id: "delete-song-favorite-album",
                favorite_songs: favorite.find_favorite_id(@song).first.id, data_id: @song.id do %>
                  <i  class="fa fa-check"></i>
              <% end %>
          <% else %>
            <i class="icon-playlist"></i>&nbsp;
            <span class="count-favorite-song">
              <div><%= favorite.name %></div>
              <p>Number Song: <%= favorite.favorite_songs.count %></p>
            </span>
            <%= button_tag id: "add-song-favorite-album", data_id: @song.id, favorite_id: favorite.id do %>
              <i class="fa fa-plus"></i>
            <% end %>
          <% end %>
        <i class="fa fa-trash-o" id="delete-favorite-album" data_id="<%= @song.id %>" favorite_id="<%= favorite.id %>"></i>
      </div><br>
    <% end %>
  <% end %>
</div>
