<br><br>
<div class="form-comment">
  <h3>Comment (<%= @song.comments.count :user_id %>)</h3><br>
  <%= image_tag "default-image.png", id: "avatar-user-comment" %>&nbsp;&nbsp;
  <%= text_area_tag :content %>
  <%= button_tag id: "comment", data_id: @song.id do %>
    Comment
  <% end %>
</div>
<div class="border-form-comment"></div>
<div class="content-comment">
  <% @song.comments.each do |comment| %>
    <% unless comment.parent_id.present? %>
      <ul>
        <li>
          <div class="avatar-user-comment">
            <%= image_tag comment.user.image, id: "avatar-user-comment" %>
          </div>
          <div class="post-comment">
            <div class="name-user-comment">
              <%= comment.user.name %>
            </div>
            <div class="content-user-comment">
              <%= comment.content %>
            </div>
            <div class="time-user-comment">
              <%= comment.created_at.strftime("%H:%M %d/%m/%Y") %>
            </div>
          </div>
          <% comment.replies.each do |reply| %>
            <ul class="ul-user-reply">
              <li class="li-user-reply">
                <div class="avatar-user-comment-reply">
                <%= image_tag reply.user.image, id: "avatar-user-comment" %>
                </div>
                <div class="post-comment-reply">
                  <div class="name-user-comment-reply">
                    <%= reply.user.name %>
                  </div>
                  <div class="content-user-comment-reply">
                    <%= reply.content %>
                  </div>
                  <div class="time-user-comment-reply">
                    <%= reply.created_at.strftime("%H:%M %d/%m/%Y") %>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
