<% provide :button_text, "Change my password" %>
<% provide :title, "Change Password" %>
<div class="main-content">
  <div class="container">
    <div class="form-wrap-forget-pass">
      <div class="title-manager">
        <h2>Change your password</h2>
      </div>
      <br>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group row">
                <%= f.label :password, "New password",
                  class: "col-form-label" %>
                <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
              </div>
              <div class="form-group row">
                <%= f.label :password_confirmation, "Confirm new password",
                  class: "col-form-label" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>
              <div class="form-group row">
                <div class="pull-right">
                  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
