<thead>
  <tr>
    <th><%= t "views.admins.categories.text_form.name" %></th>
    <th><%= t "views.admins.songs.text_form.name" %></th>
    <th class="action"><%= t "views.admins.form.action" %></th>
  </tr>
</thead>
<tbody>
  <% @categories.each do |category| %>
    <tr class="background-tr">
      <td>
        <ul>
          <%= link_to admins_category_path(category) do %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% category.songs.each do |song| %>
            <%= link_to admins_song_path(song) do %>
              <li><%= song.name %></li>
            <% end %>
          <% end %>
        </ul>
      </td>
      <td>
        <%= link_to edit_admins_category_path category do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        <%= link_to admins_category_path(category), method: :delete,
          data: {confirm: t("views.admins.form_confirm")} do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
