<% provide :title, t("views.admins.categories.title.index") %>
<div class="main-content">
  <div class="container">
    <div class="info-manager">
      <div class="title-manager pull-left">
        <h2><%= t "views.admins.categories.title.index" %></h2>
      </div>
      <div class="button-manager pull-right">
        <ul>
          <li>
            <%= link_to new_admins_category_path do %>
              <i class="glyphicon glyphicon-plus"></i>
              <%= t "button.create" %>
            <% end %>
          </li>
          <li>
            <%= link_to admins_categories_path(format: "xls") do %>
              <i class="glyphicon glyphicon-export"></i>
              <%= t "button.export" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row wrap-search">
      <div class="col-md-6 col-md-offset-6">
        <%= form_tag admins_categories_path, method: :get, remote: true do %>
          <div class="form-group pull-right">
            <%= text_field_tag :search, params[:search],
              placeholder: "Input Name Category" %>
            <%= button_tag "Search", class: "custom-btn" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <%= render "list_category" %>
      </table>
      <div class="pagination">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
