<thead>
  <tr>
    <th><%= t "views.admins.songs.text_form.images" %></th>
    <th><%= t "views.admins.songs.text_form.name" %></th>
    <th><%= t "views.admins.songs.text_form.url_song" %></th>
    <th><%= t "views.admins.authors.text_form.name" %></th>
    <th><%= t "views.admins.categories.text_form.name" %></th>
    <th class="action"><%= t "views.admins.form.action" %></th>
  </tr>
</thead>
<tbody>
  <% @songs.each do |song| %>
    <tr class="background-tr">
      <td>
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#song_modal_#{song.id}" do %>
          <%= image_tag song.picture, class: "size-img-thumbnail" %>
        <% end %>
      </td>
      <td><%= song.name %></td>
      <td>
        <audio src="<%= song.url_song %>" type="audio/mpeg" controls></audio>
      </td>
      <td><%= song.author.name %></td>
      <td>
      <% song.categories.each do |category| %>
        <%= category.name %>
      <% end %>
      </td>
      <td>
        <%= link_to edit_admins_song_path song do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        <%= link_to admins_song_path(song), method: :delete,
          data: {confirm: t("views.admins.form_confirm")} do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>
    </tr>
    <%= render "layouts/modal", song: song %>
  <% end %>
</tbody>
