<%= form_for @song do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :name, t("views.admins.songs.text_form.name"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :picture, t("views.admins.songs.text_form.images"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.file_field :picture %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :url_song, t("views.admins.songs.text_form.url_song"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.file_field :url_song %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :author_id, t("views.admins.authors.text_form.name"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.select :author_id, @supports.authors %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :categories, t("views.admins.categories.text_form.name"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-6">
          <%= f.select :category_ids, @supports.categories %>
        </div>
      </div>
      <div class='form-group row'>
        <div class='col-md-4'>
          <%= f.label :singers, t('views.admins.singers.text_form.name'),
            class: 'col-form-label' %>
        </div>
        <div class='col-md-6'>
          <%= f.select :singer_ids, @supports.singers %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :content, t("views.admins.songs.text_form.content"),
            class: "col-form-label" %>
        </div>
        <div class="col-md-8">
          <%= f.cktext_area :content %>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-6 col-md-offset-5">
        <%= f.submit yield(:button_text), class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
