<% @songs.each do |song| %>
  <div class="item-search-song">
    <div class="thumbnail-item-seach-song">
      <%= image_tag song.picture %>
    </div>
    <div class="content-item-search-song">
      <div class="title-search-song"><%= song.name %></div>
      <% song.categories.each do |category| %>
        <div class="category-search-song"> Thể loại: <%= category.name %></div>
      <% end %>
      <div class="count-view-search-song">Lượt nghe: <%= song.count_view %></div>
      <div class="created-date-search-song"><%= song.created_at.strftime('%H:%M %d/%m/%Y') %></div>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>
