<ul class="bxslider">
    <li><%= image_tag "slider1.png", class: "slider" %></li>
    <li><%= image_tag "slider2.png", class: "slider" %></li>
    <li><%= image_tag "slider3.png", class: "slider" %></li>
    <li><%= image_tag "slider4.jpg", class: "slider" %></li>
    <li><%= image_tag "slider5.jpg", class: "slider" %></li>
</ul>
