<% provide :title, t("views.admins.authors.title.edit") %>
<% provide :button_text, t("views.admins.authos.title.save") %>
<div class="main-content">
  <div class="container">
    <div class="info-manager">
      <div class="title-manager pull-left">
        <h2><%= t "views.admins.authors.title.edit" %></h2>
      </div>
      <div class="button-manager pull-right">
        <ul>
          <li>
            <%= link_to new_admins_author_path do %>
              <i class="glyphicon glyphicon-plus"></i>
              <%= t "button.create" %>
            <% end %>
          </li>
          <li>
            <%= link_to admins_authors_path(format: "xls") do %>
              <i class="glyphicon glyphicon-export"></i>
              <%= t "button.export" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-wrap">
      <%= render "form" %>
    </div>
  </div>
</div>
