<div class="header">
  <div class="container">
    <div class="logo pull-left">
      <%= link_to image_tag("logo.png"), "#" %>
    </div>
    <div class="account pull-right">
      <div class="username">
        <%= link_to "#" do %>
          <span>
            <%= t "views.menu.admin" %>
            <i class="glyphicon glyphicon-triangle-bottom"></i>
          </span>
        <% end %>
      </div>
      <ul>
        <li>
          <%= link_to "#" do %>
            <i class="glyphicon glyphicon-log-out"></i>
            <%= t "views.menu.logout" %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="menu-header">
  <div class="container">
    <div class="menu-left">
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class="glyphicon glyphicon-home"></i>
            <%= t "views.menu.home" %>
          <% end %>
        </li>
        <li class="<%= "actived" if current_page?(admins_users_path) %>">
          <%= link_to t("User"), admins_users_path %></li>
        <li class="<%= "actived" if current_page?(admins_songs_path) %>">
          <%= link_to t("Song"), admins_songs_path %></li>
        <li class="<%= "actived" if current_page?(admins_albums_path) %>">
          <%= link_to t("Album"), admins_albums_path %></li>
        <li class="<%= "actived" if current_page?(admins_categories_path) %>">
          <%= link_to t("Categories"), admins_categories_path %></li>
        <li class='<%= 'actived' if current_page?(admins_singers_path) %>'>
          <%= link_to t('Singer'), admins_singers_path %></li>
        <li class="<%= "actived" if current_page?(admins_authors_path) %>">
          <%= link_to t("Author"), admins_authors_path %></li>
        <li><%= link_to "Video" %></li>
        <li><%= link_to "BXH" %></li>
      </ul>
    </div>
  </div>
</div>
