<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to root_path, title: t("views.layouts.header.logo") do %>
          <%= image_tag "logo.png", id: "logo" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= form_tag search_songs_path, class: "form-search-header", method: :get do %>
            <%= text_field_tag :search, params[:search],
              placeholder:  t("views.layouts.header.text_search"),
                id: "search-header" %>
            <%= button_tag id: "button-search" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-3 log-in-header">
      <% if user_signed_in? %>
        <% if current_user.is_admin? %>
          <div class="account pull-left">
            <div class="username">
              <%= link_to "#" do %>
                <span>
                  <%= current_user.name %>
                  <i class="glyphicon glyphicon-triangle-bottom"></i>
                </span>
              <% end %>
            </div>
            <ul>
              <li>
                <%= link_to admins_users_path do %>
                  <i class="fa fa-user"></i>
                  Admin Page
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="glyphicon glyphicon-log-out"></i>
                  <%= t "views.menu.logout" %>
                <% end %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="account pull-left">
            <div class="username">
              <%= link_to "#" do %>
                <span>
                  <%= current_user.name %>
                  <i class="glyphicon glyphicon-triangle-bottom"></i>
                </span>
              <% end %>
            </div>
            <ul>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-wpforms"></i>
                  Update Profile
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <i class="fa fa-user"></i>
                    My Playlist
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="glyphicon glyphicon-log-out"></i>
                  <%= t "views.menu.logout" %>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      <% else %>
        <div class="login">
          <%= link_to "#", "data-toggle" => "modal", "data-target" => "#singin_modal" do %>
            <i class="fa fa-user"></i>
            <%= t "views.layouts.header.login" %>
          <% end %>
        </div>
      <% end %>
      <div class="language-header pull-right">
        <% ["vi", "en"].each do |lang| %>
          <%= link_to locale: lang do %>
            <%= image_tag "#{lang}.png", class: "language" %>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</header>
<nav class="menu-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="nav">
          <li>
            <%= link_to root_path, title: t("views.layouts.header.home"), id: "home" do %>
              <i class="fa fa-home"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              Playlist
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              Bảng xếp hạng
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              Nghệ Sĩ
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li>
          <%= link_to new_song_path, id: "upload" do %>
            <i class="fa fa-cloud-upload"></i>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'layouts/modal_signin' %>
</nav>
